$colorBody: #e1b16a;
$colorGame: #ce5a57;
$backgroundColor: #444C5C;
$ColorText: #78a5a3;
$textWin: #42e252;


body{
    height: 100%;
    background: $colorBody;
}


.container_game{
    position: relative;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 540px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 70px;
}

.score{
    display: flex;
    justify-self: flex-end;
    background-color: $colorBody;
    color: $colorGame;
    padding: 11px;
    border-radius: 3px;
}



.score_main {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center{
    text-align: center;
}
.trueFalse {
    position: absolute;
    top: 0;
    bottom: 660px;
    right: 0;
    left: 0;
    margin: auto;
    width: 190px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.correct{
    background-color: $textWin;
    color: $backgroundColor;
    padding: 11px;
    border-radius: 10px;
    display: none;
}

.wrong{
    background-color: #de401a;
    color: #fff;
    padding: 11px;
    border-radius: 10px;
    display: none;
}

.question{
    width: 450px;
    height: 150px;
    margin-top: 10px;
    background-color: $colorGame;
    border-radius: 3px;
    font-family: cursive,sans-serif;
    font-size: 100px;
    text-align: center;
    line-height: 150px;
}
.info{
    width: 450px;
    height: 50px;
    margin: 10px auto;
    background-color:$colorBody;
    line-height: 50px;
    text-align: center;
    color: $colorGame;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100px;
    margin: 8px auto;
    margin: 0 auto;
}
.box{
    width: 85px;
    height: 85px;
    float: left;
    background-color: #fff;
    text-align: center;
    font-family: sans-serif;
    line-height: 85px;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: all 0.2;
}
.box:last-child {
    margin-right: 0;
}

.box:active{
    top:4px;
    background-color: $colorGame;
    color: #fff;   
    box-shadow: 0 0;
}


.start_reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.timeremaining{
    position: absolute;
    top: 0;
    bottom: -420px;
    right: 0;
    left: 490px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 90px;
    background-color: $backgroundColor;
    border-radius: 3px;
    color: $colorGame;
    display: none;
}


span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_over{
    width: 500px;
    height: 200px;
    background-color: $colorBody;
    color: $colorGame;
    font-size: 2.5em;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}









































































































