$colorBody: #e1b16a;
$colorGame: #ce5a57;
$backgroundColor:#444C5C;
$ColorText: #78a5a3;
$textWin: #42e252;


body{
    height: 100%;
    background: $colorBody;
}


@import './main';
@import './adaptive';







































































































